<article class="content dashboard-page">
  <div class="row sameheight-container">
    <div class="col col-xs-12 col-sm-12 col-md-6 col-xl-5 stats-col">
      <div class="card sameheight-item stats" data-exclude="xs" style="height: 322px;">
        <div class="card-header card-header-sm bordered">
          <div class="header-block">
            <h3 class="title">Estatísticas Gerais</h3> </div>
        </div>
        <div class="card-block">
          <div class="row row-sm stats-container">
            <div class="col-xs-12 col-sm-6 stat-col">
              <div class="stat-icon"> <i class="fa fa-rocket"></i> </div>
              <div class="stat">
                <div class="value"> 5198 </div>
                <div class="name"> Clientes Ativos </div>
              </div> <progress class="progress stat-progress" value="75" max="100">
              <div class="progress">
                <span class="progress-bar" style="width: 75%;"></span>
              </div>
            </progress> </div>
            <div class="col-xs-12 col-sm-6 stat-col">
              <div class="stat-icon"> <i class="fa fa-shopping-cart"></i> </div>
              <div class="stat">
                <div class="value"> 78464 </div>
                <div class="name"> Items sold </div>
              </div> <progress class="progress stat-progress" value="25" max="100">
              <div class="progress">
                <span class="progress-bar" style="width: 25%;"></span>
              </div>
            </progress> </div>
            <div class="col-xs-12 col-sm-6  stat-col">
              <div class="stat-icon"> <i class="fa fa-line-chart"></i> </div>
              <div class="stat">
                <div class="value"> $80.560 </div>
                <div class="name"> Monthly income </div>
              </div> <progress class="progress stat-progress" value="60" max="100">
              <div class="progress">
                <span class="progress-bar" style="width: 60%;"></span>
              </div>
            </progress> </div>
            <div class="col-xs-12 col-sm-6  stat-col">
              <div class="stat-icon"> <i class="fa fa-users"></i> </div>
              <div class="stat">
                <div class="value"> 359 </div>
                <div class="name"> Total users </div>
              </div> <progress class="progress stat-progress" value="34" max="100">
              <div class="progress">
                <span class="progress-bar" style="width: 34%;"></span>
              </div>
            </progress> </div>
            <div class="col-xs-12 col-sm-6  stat-col">
              <div class="stat-icon"> <i class="fa fa-list-alt"></i> </div>
              <div class="stat">
                <div class="value"> 59 </div>
                <div class="name"> Tickets closed </div>
              </div> <progress class="progress stat-progress" value="49" max="100">
              <div class="progress">
                <span class="progress-bar" style="width: 49%;"></span>
              </div>
            </progress> </div>
            <div class="col-xs-12 col-sm-6 stat-col">
              <div class="stat-icon"> <i class="fa fa-dollar"></i> </div>
              <div class="stat">
                <div class="value"> $780.064 </div>
                <div class="name"> Total income </div>
              </div> <progress class="progress stat-progress" value="15" max="100">
              <div class="progress">
                <span class="progress-bar" style="width: 15%;"></span>
              </div>
            </progress> </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-xs-12 col-sm-12 col-md-6 col-xl-7 history-col">
      <div class="card sameheight-item" data-exclude="xs" style="height: 322px;">
        <div class="card-header card-header-sm bordered">
          <div class="header-block">
            <h3 class="title">History</h3> </div>
          <ul class="nav nav-tabs pull-right" role="tablist">
            <li class="nav-item"> <a class="nav-link active" href="#visits" role="tab" data-toggle="tab">Visits</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#downloads" role="tab" data-toggle="tab">Downloads</a> </li>
          </ul>
        </div>
        <div class="card-block">
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active fade in" id="visits">
              <p class="title-description"> Number of unique visits last 30 days </p>
              <div id="dashboard-visits-chart" style="position: relative; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><svg height="220" version="1.1" width="626" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="overflow: hidden; position: relative; left: -0.078125px;"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël @@VERSION</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><text x="26.5" y="181" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="4">40</tspan></text><path fill="none" stroke="#aaaaaa" d="M39,181H601" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="26.5" y="142" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="142"></tspan></text><path fill="none" stroke="#aaaaaa" d="M39,142H601" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="26.5" y="103" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="4">63</tspan></text><path fill="none" stroke="#aaaaaa" d="M39,103H601" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="26.5" y="64" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="64"></tspan></text><path fill="none" stroke="#aaaaaa" d="M39,64H601" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="26.5" y="25" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="4">86</tspan></text><path fill="none" stroke="#aaaaaa" d="M39,25H601" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="507.33333333333337" y="193.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="4">2015-09-06</tspan></text><text x="413.6666666666667" y="193.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="4">2015-09-05</tspan></text><text x="320" y="193.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="4">2015-09-04</tspan></text><text x="226.33333333333334" y="193.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="4">2015-09-03</tspan></text><text x="132.66666666666669" y="193.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="4">2015-09-02</tspan></text><text x="39" y="193.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="4">2015-09-01</tspan></text><path fill="none" stroke="#7bccdd" d="M39,79.26086956521739C62.41666666666667,75.02173913043478,109.25000000000001,53.826086956521735,132.66666666666669,62.30434782608695C156.08333333333334,70.78260869565217,202.91666666666669,147.08695652173913,226.33333333333334,147.08695652173913C249.75,147.08695652173913,296.5833333333333,62.30434782608695,320,62.30434782608695C343.4166666666667,62.30434782608695,390.25,147.08695652173913,413.6666666666667,147.08695652173913C437.08333333333337,147.08695652173913,483.9166666666667,77.56521739130434,507.33333333333337,62.30434782608695C530.75,47.04347826086957,577.5833333333334,34.326086956521735,601,25" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><circle cx="39" cy="79.26086956521739" r="4" fill="#52bcd3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="132.66666666666669" cy="62.30434782608695" r="4" fill="#52bcd3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="226.33333333333334" cy="147.08695652173913" r="4" fill="#52bcd3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="320" cy="62.30434782608695" r="4" fill="#52bcd3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="413.6666666666667" cy="147.08695652173913" r="4" fill="#52bcd3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="507.33333333333337" cy="62.30434782608695" r="4" fill="#52bcd3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="601" cy="25" r="4" fill="#52bcd3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle></svg><div class="morris-hover morris-default-style" style="left: 467.333px; top: 72px; display: none;"><div class="morris-hover-row-label">2015-09-06</div><div class="morris-hover-point" style="color: rgb(123, 204, 221)">
                Visits:
                75
              </div></div></div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="downloads">
              <p class="title-description"> Number of downloads last 30 days </p>
              <div id="dashboard-downloads-chart"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>