<footer class="footer">
  <div class="footer-block buttons"></div>
  <div class="footer-block author">
    <ul>
      <li> criado por <a href="http://adonisgasiglia.com/" target="_blank">Adônis Gasiglia</a> </li>
      <li> <a href="http://adonisgasiglia.com/contato/" target="_blank">entrar em contato</a> </li>
    </ul>
  </div>
</footer>